@import "colors.scss";
@import "breakpoints.scss";

#PageNavbar{
    position: fixed;
    z-index: 255;
    top: 16em;
    left: 20px;
    right: 0;
    width: 50px;
    // background-color: red;
    color: white;

    .hoverable {
        min-width: 4em;
        min-height: 2em;
        border-radius: 5em;
        text-align: center;
        color: $baseFontColor;
        background-color: $baseBackgroundSolid;
        i {
            padding-top: 0.5em;
        }
    }
    .hoverable .hover {
        display:none;
    }
    .hoverable:hover .normal {
      display:none;
    }
    .hoverable:hover .hover {
        border-radius: 5em;
    //   display:inline;  /* CHANGE IF FOR BLOCK ELEMENTS */
      display: inline-block;
      color: $baseBackgroundSolid;
      background-color: $baseFontColor;
    }

    span {
        position: relative;
        min-width: 4em;
        min-height: 2em;
        padding-top: 0.5em;

        text-align: center;
        margin: auto;
        ::after {
            content: "v"
        }
    }

    .nav-item {
        padding-bottom: 1em;
    }
}
@media (min-device-width : 320px) and (max-device-width : 568px) {
    #PageNavbar {
        visibility: hidden;
        color: red;
    }
}
