@import "../../../../private/SASS/breakpoints.scss";
@import "../../../../private/SASS/colors.scss";

#footer {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    @include bkg;
    a{         @include lnk('footer')     }
    a:hover {         font-weight: bold;     }
}

@media only print{
    #footer {
        display: none;
    }
}
