.onlineAssessmentButton {
    background-color: blue;
    color: white;
    width: 200px;
    font-size: 2vmin;
    text-align: center;
    border-radius: 10px;
    background: radial-gradient(blue, grey);
}
