@value small as bp-small, large as bp-large, medium as bp-medium, iphone5 as bp-iphone5 as from "./breakpoints.css";

.mainLayout {
    /*background-color: yellow;*/
}

.primaryHeader{
    position: fixed;
    z-index: 100;
    /*background-color: blue;*/
    top: 0px;
}

.primaryArea {
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 80px;
}

.contentArea {
    /*background-color: green;*/
    width: 80%;
    float: right;
    padding: 0 2%;
}

.primaryAside {
      position: fixed;
      width: 20%;
      height: 100%;
      float: left;
      left: 0px;
      padding:  15px 10px; /* Top, Bottom */
      background-color: black;
      color: white;
      text-align: left;
}

@media bp-iphone5 {
    .primaryAside {
        float: right;
        width: 100%;
        display: block;
        height: unset;
        /*background-color: red;*/
        position: relative;
        left: unset;
    }
    .primaryAside li{
        font-size: 3vmin;
    }
    .contentArea {
        width: 100%;
    }
    .contentArea a{
        font-size: 3vmin;
    }
    .contentArea li{
        font-size: 3vmin;
    }
}

.primaryAside ul li:after {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    margin: 10px;
    background: white;
    list-style-type: none;
}
.primaryAside ul  {
    list-style-type: none;
    display: inline-block;
    padding-left:  0px;
}
