@import "breakpoints.scss";
@import "colors.scss";
@import "SectionStyling.scss";

#MainCalendar {
    @include blockSection;

    #calBlock {
        min-width: 16em;
    }

    color: black;

      .eventDay {
          display: inline-block;
          min-width: 2em;
          min-height: 2em;
          background-color: red;
          text-align: center;
          border-radius: 2em;
      }
      .calDay {
          display: inline-block;
          text-align: center;
          min-width: 2em;
          min-height: 2em;
      }
      .outsideMonth {
          color: grey;
      }
      .MonthTitle {
          color: $miniCalendarDate;
          padding-left: 5em;
      }
       a{
          @include lnk('miniCalendar')
          // color: $asideLinks;
      }
      .date {
          color: $miniCalendarDate;
          width: 100%;
      }
    //   #currentMonthBlock{
    //       width: 15em;
    //   }
      #eventList {
          column-count: 2;
          .entry {
              margin-bottom: 1em;
              break-inside: avoid;
          }
          .agendaIcon {
              width: 1em;
              height:  1em;
          }
      }
      a#MainCalendar-bookmark {
          display: block;
          position: relative;
          top: $bookmarkOffset;
          visibility: hidden;
      }
      @media  iphone5{
          #eventList {
              column-count: 1;
          }
      }
}
