@import "colors.scss";
@import "breakpoints.scss";
@import "../../../Common.scss";

.topbar{
    // background-color: red;
    // height: 11em;
    // padding-bottom: 11em;
}
.townSeal {
    padding: 0px;
    width: 30%;
    float: left;

    // TODO: Remove height/width once higher resolution image provided
    height: 10em;
    width: 12em;

    img {
        // width: 100%;
    }
    // background-color: red;
}

.pictureBlock {
    height: 10em;
    display: inline-block;
    width: 20%;
    // margin-left: 70%;
    float: left;
    // background-color: green;
}
.left-bar {
    padding: 1em 0px 0em 0em;
    // padding-top: 2em;
}

#welcome {
    text-align: center;
    font-size: 2em;
    line-height: 1em;
    float: left;
    width: 50%;
    padding: 1em;
    // margin-left: 30%;
    // background-color: blue;
}

@media only print{
    #MainMenu {
        display: none;
    }
}

.internalMenu {
    @include lnk('agendas')
}

#menuToggle > button {
    background-color: $baseBackgroundSolid;
    color: $baseFontColor;
    border-color: $baseFontColor;
    margin-right: 2em;
}


@media small {
    .sticky {
        #Menubar {
            width: 100%;
            padding-bottom: 2em;
            #menuToggle  {
                padding: 0em;
                padding-right: 12em;
            }
            .navbar-nav {
                padding-top: 2em;
            }
        }
        .topbar{
            display: none;
        }
        .townSeal{
            display: none;
        }
    }
    .pictureBlock{
        display: none;
    }


    #welcome {
        display: none;
        font-size: 1em;
        line-height: 1em;
        margin-left: 25%;
    }
    .townSeal {
        height: 100%;
        // width: 100%;
    }
    .col {
        padding: 0px;
    }
    #menuToggle  {
        padding: 0em;
        padding-bottom: 2em;
        padding-right: 6em;
        background-color: $baseBackgroundSolid;
    }
    .dropdown-menu{
        left: 0rem;
        min-width: unset;
        width: unset;
        //https://github.com/kenhub/giraffe/issues/17
        max-height: 500px;
        overflow-y: auto;
    }

}



#MainMenu {
    margin-bottom: 1em;
    width: 100%;
    // margin: auto;
    border-radius: 1em;
    @include menuBkg();

    // @include bkg;
    @include fontConfig;

    .dropdownColor {
        @include bkg;
        @include fontConfig;
        @include menuDropdownBackground;
    }
    .navbar-nav {
        right: 1em;
    }

    #Menubar {
        // float: left;
        // width: 90%;
        width: 100%;
        z-index: 100;
        display: inline-flex;
        // padding: 0px;
        // padding-left: 10em;
        // margin: auto;
        margin-left: 10%;
        margin-top: 1em;
        // background-color: blue;
        // min-width: 10em;

        //*[@id="Menubar"]/nav/div[2]/ul/li[2]/li/div/div/div[3]/a
        div > ul >  a {
            @include fontConfig;
            background-color: $menuBackgroundColor;
            color: $menuTextColor;

        }
        //*[@id="Menubar"]/nav/div[2]/ul/li[1]/a
        div > ul >  li > a{
            @include fontConfig;
            background-color: $menuBackgroundColor;
            color: $menuTextColor;

        }
        div > ul >  li >li > a{
            @include fontConfig;
            background-color:  $menuBackgroundColor;
            color: $menuTextColor;
        }

        .dropdown-menu{
            border-radius: 10px;
            width: 40em;
            top: 2rem;
            // left: -10rem;
            a{
                @include fontConfig;
            }
        }
    }
}

#MainMenu #Menubar > nav > div > ul > li >  div > div > div  {
    a{
        color: $baseBackgroundSolid;
    }
    a.externalMenu:before {
        @include externalLinks('../icons');
    }

    @include fontConfig;
    display: flex;
    :hover {
        background-color: $baseFontColor;
        color: $baseBackgroundSolid;
    }
}

.ml-auto {
    margin-left: auto!important;
    > .nav-item {
        text-align: center;
    }
    > .nav-link {
        text-align: center;
    }
    // min-width: 90em;
}


.sticky {
    position: fixed;
    z-index: 255;
    top: 0;
    left: 0;
    right: 0;
    // max-height: 7em;
    border-radius: 0;
    margin: 0;

    .townSeal {
        // max-width: 50px;
        height: 4em;
        width: 6em;
        // min-width: 4em;
        // min-height: 4em;
        padding: 0px;
    }

    #MainMenu {
        border-style: solid;
        border-radius: 0px;
        background-color: $baseBackgroundSolid;
        #Menubar {
            margin-left: 0em;
            width: unset;
            // float: left;
            div > ul {
                @inclu/de bkg;
                @include fontConfig;
                background-color: $baseBackgroundSolid;
            }
        }
    }
    .hideSticky {
        display: none;
    }
    // .left-bar {
    //     padding: 0px;
    // }

}
