@import "../../../../private/SASS/colors.scss";
@import "../../../../private/SASS/breakpoints.scss";

@media only print{
    #MainMenu {
        display: none;
    }
}

.internalMenu {
    @include lnk('agendas')
}

.externalMenu {
    a:before{
        content: "";
        display: block;
        background: url('../icons/external-128.png') no-repeat;
        background-size: 100% 100%;
        width: 10px;
        height: 10px;
        float: left;
        margin: 5px 5px 0px 5px;
    }
}

@media small {
    #Menubar {
        width: 100%;
        // height: 3em;
    }
    .sticky #Menubar {
        // width: 100%;
        height: 4em;
    }
}

#MainMenu {
    img {
        max-width: 80px;
        max-height: 80px;
    }
    width: 100%;
    margin: auto;
    border-radius: 1em;

    margin-bottom: 1em;
    @include bkg;
    @include fontConfig;
    #menuToggle > button > button{
        background-color: $baseBackgroundSolid;
        color: $baseFontColor;
        border-color: $baseFontColor;
    }
    .dropdownColor {
        @include bkg;
        @include fontConfig;
    }
    .navbar-nav {
        right: 1em;
    }
    .navbar-toggler {
        border-color: $baseBackgroundLight;
        color: $baseBackgroundLight;
    }
    #Menubar {
        // width: 90%;
        z-index: 100;
        display: inline-flex;
        div > ul >  a {
            @include fontConfig;
            // color: White;
        }
        div > ul >  li >li > a{
            @include fontConfig;
        }

        .dropdown-menu{
            border-radius: 10px;
            a{
                @include fontConfig;
            }
        }
        .dropdown-item:focus, .dropdown-item:hover a{
            background-color: $baseFontColor;
            color: $baseBackgroundSolid;
        }
    }
}


.navbar-nav .nav-link {
    @include fontConfig;
    :hover {
        background-color: $baseFontColor;
        color: $baseBackgroundSolid;

    }
}

.ml-auto {
    margin-left: auto!important
}


.sticky {
    position: fixed;
    z-index: 255;
    top: 0;
    left: 0;
    right: 0;
    // max-height: 7em;
    border-radius: 0;
    margin: 0;

    #Menubar {
        height: 3em;

        img {
            max-width: 3em;
            max-height: 3em;
        }
         div > ul {
             @inclu/de bkg;
             @include fontConfig;
             background-color: $baseBackgroundSolid;
         }
    }
    #MainMenu {
        border-radius: 0px;
        background-color: $baseBackgroundSolid;
    }
}
