@import "../../../../private/SASS/colors.scss";

.YearBlock  .header{
    background-color: $meetingListToggleHeader;
    // font: $documentationFont;
}

#AgendasAndMinutes {
    a{        @include lnk('agendas')    }
    a:hover {         font-weight: bold;     }
}

.meetingBlock {
    display: inline-block;
    @include bkg
    // background-color: $meetingListBackground;
    width: 100%;
    padding-bottom: 5px;
}
.meetingBlock .date {
    display: inline-block;
    font-weight: bold;
    width: 80px;
}
.meetingBlock .Entries {
    display: inline-block;
}
.meetingBlock .meetingElement {
    min-width: 100px;
    display: inline-block;
}
