@value small as bp-small, large as bp-large, medium as bp-medium, iphone5 as bp-iphone5 as from "../breakpoints.css";

.contentArea li {
    background-color: cornsilk;
    font-family: sans-serif;
}

.showMeetings{
    display: block;
}

.hideMeetings{
    display: none;
}
