@import "colors.scss";
@import "SectionStyling.scss";

.YearBlock  .header{
    // background-color: $meetingListToggleHeader;
    // font: $documentationFont;
}

#AgendasAndMinutes {
    // @include bkg;
    // @include fontConfig;
    @include blockSection;

    #AgendasAndMinutes-bookmark {
        display: block;
        position: relative;
        top: $bookmarkOffset;
        visibility: hidden;
    }
    .meetingBlock {
        display: inline-block;
        @include bkg
        // background-color: $meetingListBackground;
        width: 100%;
        padding-bottom: 5px;
    }
    .meetingBlock .date {
        display: inline-block;
        font-weight: bold;
        min-width: 8em;
    }
    .meetingBlock .Entries {
        display: inline-block;
    }
    .meetingBlock .meetingElement {
        min-width: 7em;
        display: inline-block;
    }
}
