@import "../../../../private/SASS/colors.scss";

#ContactUs  {
    // background-color: red;
    @include lnk('contactus');
    @include bkg;
  // color: $noticesLinks;
  // background-color: rgba(200,200,200,0.8);
  width: 80%;
  margin: auto;
}

#ContactUs  a{
    @include lnk('contactus')
}

#ContactUs  div{
    @include bkg;
    // background-color: rgba(200,200,200,0.8);
}
#ContactUs  #departmentList{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#ContactUs  #departmentList .row{
    width: 100%;
    margin: auto;
}

#ContactUs  span.department{
    width: 30%;
    font-weight: bold;
    float: left;
}

#ContactUs  span.contactName{
    width: 30%;
    // float: left;
}

#ContactUs  span.phone{
    width: 30%;
    // float: left;
}
