@import "../../../../private/SASS/colors.scss";

#ContactUs  {
    // background-color: red;
  color: $noticesLinks;
  background-color: rgba(200,200,200,0.8);

}

#ContactUs  a{
    color: $noticesLinks;
}

#ContactUs  div{
    clear: both;
}

#ContactUs  span.department{
    width: 200px;
    font-weight: bold;
    float: left;
}

#ContactUs  span.contactName{
    width: 250px;
    float: left;
}

#ContactUs  span.phone{
    width: 200px;
    float: left;
}
