@import "../../../../../private/SASS/breakpoints.scss";
@import "../../../../../private/SASS/colors.scss";

.onlineAssessmentButton {
    background-color: blue;
    color: white;
    width: 170px;
    paddingTop: 5px;
    height: 55px;
    fontSize: 2vmin;
    display:inline-block;
    /*float:left;*/
    text-align: center;
    border-radius: 10px;
    background: radial-gradient(blue, grey);
}

// #Assessing #contentArea {
//     background-color: $baseBackgroundPartial;
// }
