@import "breakpoints.scss";
@import "colors.scss";
@import "SectionStyling.scss";

.onlineAssessmentButton {
    background-color: blue;
    color: white;
    width: 170px;
    paddingTop: 5px;
    height: 55px;
    fontSize: 2vmin;
    display:inline-block;
    /*float:left;*/
    text-align: center;
    border-radius: 10px;
    background: radial-gradient(blue, grey);
}
#description {
    @include blockSection;
}
#assessmentAndMaps {
    @include blockSection;
}


// #Assessing #contentArea {
//     background-color: $baseBackgroundPartial;
// }
