@value small as bp-small, large as bp-large, medium as bp-medium, iphone5 as bp-iphone5 as from "./breakpoints.css";

.logo {
    max-height: 110%;
    /*background: rgba(255,255,255,0.9);*/
}
/*@media bp-iphone5 {
     :global(#navbar) a{
            font-size: 2vmin;
        }
}*/

/*.navbar-brand > img {
    display: inline-block;
}*/
/*.navbar-header {
  background-color: #F16E10;
  width: 100%;
}*/
/*.dropdown-header {
    color: black;
}*/
