@import "colors.scss";

#RequestAlerts {
    width: 80%;
    margin: auto;
    padding: 1em;
    border-radius: 1em;

    @include bkg;
    // background-color: white;
}
#RequestAlerts .required {
    color: blue;
}

.button:disabled{
  opacity: 0.65;
  background-color: red;
  cursor: not-allowed;
}
input[name="contact"] {
    width: 14em;
}
