@import "../../../../../private/SASS/breakpoints.scss";
@import "../../../../../private/SASS/colors.scss";

.feeschedule{
    width: 100%;
}
.feeItem {
max-width: 500px;
width: 100%;
clear: both;
border: 1px solid black;
margin: 0 auto;
}
.feeItemDesc {
    width: 80%;
    font-weight: bold;
    float: left;
}
.feeItemPrice{
    width: 20%;
    float: left;
}
.feeNote {
    font-style: italic;
    clear: both;
}
.transferMission {
    text-align: center;
}
