@import "../../../../private/SASS/colors.scss";

#FAQList  {
    @include bkg;
    @include fontConfig;
    // background-color: red;

    a#FAQList-bookmark {
        display: block;
        position: relative;
        top: -120px;
        visibility: hidden;
    }
    margin-bottom: 5em;
}
