@import "breakpoints.scss";
@import "colors.scss";
@import "SectionStyling.scss";

#NewsList {
    @include blockSection;
    ul{
        padding-left: 1em;
    }
    li {
        list-style: square;
        height: 2.2em;
    }

    a#NewsList-bookmark {
        display: block;
        position: relative;
        top: $bookmarkOffset;
        visibility: hidden;
    }
}
