@import "../../../../private/SASS/colors.scss";
@import "../../../../private/SASS/SectionStyling.scss";

#DocumentList  {
    @include blockSection;

    a#DocumentList-bookmark {
        display: block;
        position: relative;
        top: $bookmarkOffset;
        visibility: hidden;
    }
    padding: 1em;
}
