@import "colors.scss";
@import "SectionStyling.scss";

#DocumentList  {
    @include blockSection;

    a#DocumentList-bookmark {
        display: block;
        position: relative;
        top: $bookmarkOffset;
        visibility: hidden;
    }
    padding: 1em;
    .posted {
        padding-left: 2em;
        font: 10px/10px Georgia, serif;
    }
}
