.office {
    float: left;
    min-width:200px;
}
.name {
    float: left ;
     min-width:175px;
 }
 .term {
     float: left ;
  min-width:50px;
  }

  .phone {
      float: left ;
   min-width:150px;
   }

.memberBlock {
    clear: left;
    border-bottom: 1px solid black;
}
.groupMembersEmpty {
    clear: left;
    display: inline-block;
}
.groupMembers {
    /*width:500px;*/
    clear: both;
    display: inline-block;
    border: 1px solid black;
}
