.office {
    float: left;
    width:200px;
}
.name {
    float: left ;
     width:175px;
 }
.term {
    float: left ;
 width:50px;
 }

.memberBlock {
    clear: left;
    border-bottom: 1px solid black;
}
.groupMembersEmpty {
    clear: left;
    display: inline-block;
}
.groupMembers {
    /*width:500px;*/
    clear: both;
    display: inline-block;
    border: 1px solid black;
}
