@import "../../../../private/SASS/colors.scss";

#PublicRecords a{
    @include lnk('documentation')
}

#PublicRecords .MonthBlock {
    // background-color: $meetingListBackground;
}
#PublicRecords .YearBlock  .header{
    background-color: $meetingListToggleHeader;
}
#PublicRecords .MonthBlock .header {
    background-color: $meetingListMonthHeaderBG;
    color: $meetingListMonthHeaderFG;
}

#PublicRecords .MonthBlock .Entries {
    display: inline-block;
}

#PublicRecords .MonthBlock .date {
    width: 80px;
}

#PublicRecords .MonthBlock .documentLink {
    min-width: 150px;
    display: inline-block;
}
