@import "colors.scss";

#PublicRecords{
    #contentArea {
    border-radius: 1em;
    }

    a{
        @include lnk('documentation')
    }
    .YearBlock  .header{
        background-color: $meetingListToggleHeader;
    }
    .MonthBlock {
        .header {
        background-color: $meetingListMonthHeaderBG;
        color: $meetingListMonthHeaderFG;
    }
    .Entries {
        display: inline-block;
    }
    .date {
        width: 10em;
    }
    .documentLink {
        min-width: 30em;
        display: inline-block;
    }
    }
}
.posted {
    padding-left: 2em;
    font: 10px/10px Georgia, serif;
}
