@import "breakpoints.scss";
@import "colors.scss";
@import "SectionStyling.scss";

.mainNotice {
    display: inline-block;
    float: left;
}

#alerts {
    animation: blinking 1s linear infinite;
    text-decoration: blink;
}

#notices  {
    @include blockSection;
    padding-top: 0em;

    a#Notices-bookmark {
        display: block;
        position: relative;
        top: $bookmarkOffset;
        visibility: hidden;
    }
    .posted {
        padding-left: 2em;
        font: 10px/10px Georgia, serif;
    }
}

@keyframes blinking {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}
