@import "../../../../private/SASS/breakpoints.scss";
@import "../../../../private/SASS/colors.scss";

.mainNotice {
    width: 49%;
    min-height: 50px;
    display: inline-block;
    float: left;
}

#alerts {
    animation: blinking 1s linear infinite;
    text-decoration: blink;
}

.hidebullets {
    list-style: none;
}
#notices  {
    @include bkg;
    a{        @include lnk('notices')    }
    a:hover {         font-weight: bold;     }
    h2 {
        color: black;
    }
}


@keyframes blinking {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}
