@import "breakpoints.scss";
@import "colors.scss";

#HomePage {
    color: black;

    #WelcomeTitle{
        @include bkg;
        @include fontConfig;
        text-align: center;
        margin-bottom: 2em;
        border-radius: 1em;
    }

}
