@import "../../../../private/SASS/breakpoints.scss";
@import "../../../../private/SASS/colors.scss";

#HomePage {
    color: black;
}

#HomePage .title{
    background-color: $meetingListBackground;
    text-align: center;
}
