@value small as bp-small, large as bp-large, medium as bp-medium, iphone5 as bp-iphone5 as from "./breakpoints.css";

.mainLayout {
    /*background-color: yellow;*/
}

.primaryHeader{
    position: fixed;
    z-index: 100;
    width: 100%;
    /*background-color: blue;*/
    top: 0px;
}

.primaryArea {
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 80px;
}

/*.contentArea {
    background-color: green;
    width: 75%;
    max-width: 78%;
    float: right;
    padding: 0 2%;
}*/
@media  (max-device-width: 840px){
    .primaryArea {
        margin-top: 120px;
    }
}

/*@media bp-iphone5 {
    .contentArea {
        width: 100%;
    }
    .contentArea a{
        font-size: 3vmin;
    }
    .contentArea li{
        font-size: 3vmin;
    }
}*/
