// @value small as bp-small, large as bp-large, medium as bp-medium, iphone5 as bp-iphone5 as from "../breakpoints.css";
@import "../../../../private/SASS/breakpoints.scss";
@import "../../../../private/SASS/colors.scss";

Aside a{
    color: $asideLinks;
}

Aside {
      height: 100%;
      float: left;
      left: 0px;
      width: 100%;
      color: white;
      background-color: black;
      text-align: left;
}

@media bp-iphone5 {
    Aside {
        float: right;
        width: 100%;
        display: block;
        height: unset;
        /*background-color: red;*/
        position: relative;
        left: unset;
    }
    Aside li{
        font-size: 3vmin;
    }
}


Aside ul li:after {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    margin: 10px;
    background: white;
    list-style-type: none;
}
Aside ul  {
    list-style-type: none;
    display: inline-block;
    padding-left:  0px;
}
