// @value small as bp-small, large as bp-large, medium as bp-medium, iphone5 as bp-iphone5 as from "breakpoints.css";
@import "breakpoints.scss";
@import "colors.scss";

#Asides {
    @include bkg;
    @include fontConfig;
    a{        @include lnk('aside')    }
    a:hover {         font-weight: bold;     }
}

@media bp-iphone5 {
    #Asides {
        float: right;
        width: 100%;
        display: block;
        height: unset;
        /*background-color: red;*/
        position: relative;
        left: unset;
    }
    #Asides li{
        font-size: 3vmin;
    }
}


#Asides ul li:after {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    margin: 10px;
    // background: $asideText;
    list-style-type: none;
}
#Asides ul  {
    list-style-type: none;
    display: inline-block;
    padding-left:  0px;
}
