@import "../private/SASS/colors.scss";

.App {
  text-align: center;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: grey;
  height: 10px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

#root  {
  background-color: $globalBackground;
}
