// $privateSASS: "private/MiltonNH/SASS";
@import "breakpoints.scss";
@import "colors.scss";

.App {
  text-align: center;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: grey;
  height: 10px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

#root  {
    @include rootBkg();
  // background-color: $globalBackground;
  // background-image: linear-gradient(to bottom,  $globalBackground 0%, darkblue 80%);
  // background-image: linear-gradient(to bottom,  darkblue 0%, $globalBackground 150%);
}

.fadeTopBottom {
    background-image: linear-gradient(to bottom,  $baseBackgroundSolid 10%, grey 60%);
}

.fadeBottomTop {
    background-image: linear-gradient(to bottom,  grey 10%, $baseBackgroundSolid 60%);
}

// .externalMenu .nav-link{
//     a:before{
//         content: "";
//         display: block;
//         background: url('Client/Components/icons/external-128.png') no-repeat;
//         background-size: 100% 100%;
//         width: 10px;
//         height: 10px;
//         float: left;
//         margin: 5px 5px 0px 5px;
//     }
// }

@media small {
    .hidePhone {
        display: none;
    }
}
