@import "../../../../private/SASS/breakpoints.scss";
@import "../../../../private/SASS/colors.scss";

.indexListLinks li {
    padding-left: -1.5em;
    margin-left: -15px;
    color: blue;
}
.indexListLinks li a {
    color: blue;
}
#IndexPage .indexListLinks{
    column-count: 3;
}
@media iphone5 {
    #IndexPage .indexListLinks{
        column-count: 1;
    }
}
