.pdf_link::before {
    content: "";
    display: inline-block;
    background: url('../images/pdf-icon.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: 10px;
    height: 10px;
    /*float: left;*/
    margin: 4px 5px 0 5px;
}
.youtube_link::before {
    content: "";
    display: inline-block;
    background: url('../images/youtube.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: 10px;
    height: 10px;
    /*float: left;*/
    margin: 4px 5px 0 5px;
}
