@import "colors.scss";

$iconsize: 20px;

.pdf_link::before {
    content: "";
    display: inline-block;
    background: url('../icons/pdf-icon.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: $iconsize;
    height: $iconsize;
    /*float: left;*/
    margin: 4px 5px 0 5px;
}
.youtube_link::before {
    content: "";
    display: inline-block;
    background: url('../icons/youtube.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: $iconsize;
    height: $iconsize;
    /*float: left;*/
    margin: 4px 5px 0 5px;
}
.townHallStream_link::before {
    content: "";
    display: inline-block;
    background: url('../icons/ths.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: $iconsize;
    // height: 100%;
    height: 15px;
    /*float: left;*/
    margin: 4px 5px 0 5px;
}
.jpgImage_link::before {
    content: "";
    display: inline-block;
    background: url('../icons/jpgImage.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: 20px;
    height: 20px;
    /*float: left;*/
    margin: 4px 5px -3px  5px;
}
.doc_link::before {
    content: "";
    display: inline-block;
    background: url('../icons/word.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: $iconsize;
    height: $iconsize;
    /*float: left;*/
    margin: 0px 5px 0 5px;
}
.markdown_link::before {
    content: "";
    display: inline-block;
    background: url('../icons/clipboard.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: $iconsize;
    height: $iconsize;
    /*float: left;*/
    margin: 4px 5px 0 5px;
}
.excel_link::before {
    content: "";
    display: inline-block;
    background: url('../icons/excel.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: $iconsize;
    height: $iconsize;
    /*float: left;*/
    margin: 0px 5px 0 5px;
}
.odt_link::before {
    content: "";
    display: inline-block;
    background: url('../icons/OpenOfficeWriter_256.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: red;*/
    color: white;
    width: $iconsize;
    height: $iconsize;
    /*float: left;*/
    margin: 0px 5px 0 5px;
}
